//
// Pricing
// 


.pricing-content {
  li {

    margin-bottom: 14px;
    font-weight: 500;
    color: $gray-700;

    .pricing-icon {

      background-color: rgba($primary, 0.1);
      width: 20px;
      height: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 8px;

      svg {
        width: 9px;
        height: 9px;
        color: $primary;
      }
    }
  }
}

.animate-blink {
  -webkit-animation: a-animate-blink 1s step-start 0s infinite;
  -moz-animation: a-animate-blink 1s step-start 0s infinite;
  -ms-animation: a-animate-blink 1s step-start 0s infinite;
  -o-animation: a-animate-blink 1s step-start 0s infinite;
  animation: a-animate-blink 1s step-start 0s infinite;
  animation-fill-mode: initial;
}

@-webkit-keyframes a-animate-blink {
  50% {
    opacity: 0;
  }
}

@-moz-keyframes a-animate-blink {
  50% {
    opacity: 0;
  }
}

@-o-keyframes a-animate-blink {
  50% {
    opacity: 0;
  }
}

@keyframes a-animate-blink {
  50% {
    opacity: 0;
  }
}