.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* footer  */

.footer-section a {
  text-decoration: none;
  color: #eee3e3;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}


.footer-section {
  padding: 80px 0;
  background: #151720
}


/* film detail  */
/* .film-details {
  margin: 20px;
}

.banner-img {
  width: 100%;
  height: auto;
}

.row {
  align-items: center;
}

.film-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.film-synopsis {
  font-size: 1.1rem;
  line-height: 1.5;
}

.film-info {
  margin-top: 1.5rem;
}

.film-thumbnail {
  width: 100%;
  border-radius: 8px;
}

.additional-banner {
  width: 100%;
  border-radius: 8px;
}

 */

/* 
 .film-intro {
  margin: 20px;
}

.banner-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.row {
  align-items: center;
}

.film-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.film-synopsis {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.additional-info {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.info-list {
  list-style-type: none;
  padding: 0;
}

.info-list li {
  margin: 0.5rem 0;
}
 */


.film-intro {
  margin: 20px;
}

.banner-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.row {
  align-items: flex-start;
  /* Để các phần bắt đầu từ đầu dòng */
}

.film-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  margin-left: auto;
  margin-right: 0;
  text-align: left;
}

.film-synopsis {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-left: auto;
  margin-right: 0;
  text-align: left;
}

.additional-info {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #007bff;
  /* Màu sắc nổi bật cho tiêu đề */
}

.info-list {
  list-style-type: none;
  padding: 0;
}

.info-list li {
  margin: 0.5rem 0;
  font-size: 1rem;
  /* Kích thước chữ đồng nhất */
}